@model EditHospitalBloodVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12 p-5">
        <h4 class="text-center mb-5"><b>Kan ihtiyacı düzenleme</b></h4>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label hidden asp-for="HospitalId" class="control-label"></label>
                <input hidden asp-for="HospitalId" class="form-control" />
                <span asp-validation-for="HospitalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="BloodId" class="control-label"></label>
                <input hidden asp-for="BloodId" class="form-control" />
                <span asp-validation-for="BloodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodType" class="control-label"></label>
                <input disabled asp-for="BloodType" class="form-control" />
                <span asp-validation-for="BloodType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group mt-5">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
