@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row">
    <div class="col-md-12 p-5 text-center">
        <h1>@ViewData["Title"]</h1>

        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</div>
